*{
		color: whitesmoke;
		font-family: Avenir Next;
		text-align: center;
		}
   
li {
		display: inline;
		margin-right: 10px;
		}
		
li.production {
		font-family: Avenir Next;
		font-weight: bold;
		font-size: 40px;
		letter-spacing: .75em;
		text-shadow: 2px 2px 7px #adadad;
        }
li.consolidated {
		font-family: Avenir Next Condensed;
		font-weight: ultra light;
		font-size: 50px;
		text-shadow: 2px 2px 7px #adadad;
        }

body {
		background-image: url(images/elmiccopy.jpeg);
		background-repeat: no-repeat;
		background-position: center center;
		background-color: black;
		}        
            
#description {
		margin: 100px 200px 50px 200px;
		line-height: 1.5em;
         }  
              
#contact {
		margin: 20px auto 100px auto
        }
                                       
                 
  
