   
#header-pages {
		display: -moz-inline-box;
		margin-right: 50%;
		font-family: Avenir Next;
			font-weight: bold;
			font-size: 240px;
			letter-spacing: 1.5em;
			text-shadow: 4px 4px 7px #950cb1;
		}

		p {
			font-family: Avenir Next;
			font-weight: normal;
			font-size: 120px;
			letter-spacing: .75em;
			text-shadow: 4px 4px 7px #230202;
			}

li.consolidated {
		font-family: Avenir Next Condensed;
		font-weight: ultra light;
		font-size: 50px;
		text-shadow: 2px 2px 7px #adadad;
        }

body {
	font-family: Avenir Next Condensed;
	font-weight: ultra light;
	font-size: 50px;
	text-shadow: 2px 2px 7px #adadad;
	/* background-image: url("https://github.com/eltib22/gbdotcom/blob/main/images/background.png"); */
		background-color: #9e1a1a;
  		height: 1000px;
  		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		position: relative;
		}        
#studio-name {
			font-family: Avenir Next;
			font-weight: bold;
			font-size: 120px;
			letter-spacing: .75em;
			text-shadow: 4px 4px 7px #230202;
			}
				
#description {
		margin: 100px 200px 50px 200px;
		line-height: 1.5em;
		font-size: larger;
		font-style: oblique;
		font-weight: 500;
         }  
              
#contact {
		margin: 20px 100px 100px 400px;
		font-size: small;
		font-style: normal;
		font-stretch: semi-expanded;
		
        }
                                       
                 
  
