*{
		color: whitesmoke;
		font-family: 'Avenir Next", monospace;
		}
   
background:
  repeating-radial-gradient(
  circle at center,
    #444 0 10%,
    #111 10% 20%
  );

li {
		display: inline;
		margin-right: 20px;
		}
		
li.pagetitle {
		font-weight: bold;
		font-size: 80px;
		letter-spacing: .75em;
		text-shadow: 2px 2px 7px #ab0707;
        }
li.production {
		font-weight: ultra light;
		font-size: 40px;
		text-shadow: 2px 2px 7px #adadad;
        }

body {
		background-image: url(images/elmiccopy.jpeg);
		min-width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-color: black;
		}

div {
			border: 6px solid rgb(225, 0, 45);
			border-radius: 6px;
			width: 75%;
			margin: 60px;
			padding: 50px;
			
		}      
            
#description {
		margin: 60px;
		line-height: 1.5em;
		border: 14px solid rgb(255,0,54);
		border-radius: 6px;
		font-size: 18px;
		font-weight: lighter;
		text-shadow: 2px 2px 6px black;

         }  
              
#contact {
		margin: 20px auto 100px auto
        }
                                       
                 
  
